<div>
  <h1>AsyncOperations#index</h1>
  <p>Find me in app/views/async_operations/index.html.erb</p>
  <% @asyncops.each do |ao| %>
    <%= ao.id %> <%= ao.op_type %> <%= ao.filename %> <%= ao.status %> <br/>
  <% end %>
</div>
