<div class="box-content md:box-content">
    <h1>Mahrasa</h1>
    <div>&nbsp;</div>
    <div>
        <a href="/csv/upload">Upload global_daily_cumulative.csv</a>
    </div>
    <div>
        <a href="/orders/new">Create Order</a>
    </div>
        <div class="flex justify-center text-justify">
        <a href="/todos">Todo Manager</a>
    </div>
</div>

<div id="root"></div>
