<div class="box-content md:box-content">
    <h1 class="flex justify-center text-justify">Mahrasa</h1>
    <div>&nbsp;</div>
    <div class="flex justify-center text-justify">
        <a class="text-orange-600" href="/csv/upload">Upload global_daily_cumulative.csv</a>
    </div>
    <div class="flex justify-center text-justify">
        <a class="text-orange-600" href="/orders/new">Create Order</a>
    </div>
</div>